@import '../fonts/font.css';
@import 'reset.css';

:root {
   --button-color: #52B030;
   --button-color-hover: #3C9A1A;
   --button-color-shadow: 0px 6px 16px rgba(38, 87, 20, 0.56);;
   --title: #2C2A26;
   --text: rgba(0, 0, 0, 0.49);
   --tabs-active: #52B030;
   --footer: #3495BF;
}

body {
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 300;
   background-color: #fff;
}

.container {
   max-width: 1210px;
   padding: 0 15px;
   margin: 0 auto
}

.registration-btn {
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   text-transform: uppercase;
   padding: 20px;
   background-color: var(--button-color);
   box-shadow: var(--button-color-shadow);
   border-radius: 50px;
   display: inline-block;
}
.registration-btn:hover { background-color: var(--button-color-hover); }
@media screen and (max-width: 1024px) {
   .registration-btn:hover { background-color: var(--button-color); }
}

.title {
   font-size: 36px;
   font-weight: 500;
   color: var(--title);
   max-width: 550px;
   margin: 0 auto;
   text-align: center;
}

::-webkit-input-placeholder { /* Chrome */
   color: var(--footer);
}
 :-ms-input-placeholder { /* IE 10+ */
   color: var(--footer);
}
::-moz-placeholder { /* Firefox 19+ */
   color: var(--footer);
}
:-moz-placeholder { /* Firefox 4 - 18 */
   color: var(--footer);
}

/****/

.header__top {
   padding: 30px 0;
   position: fixed;
   width: 100%;
   background-color: #fff;
   z-index: 9;
   transition: 0.3s ease-in-out;
}
.header .sticky {
   padding: 15px 0;
   box-shadow: 0 0 10px 0 rgb(222, 222, 222);
}

.header__top-inner, .nav__item, .registration {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.nav-widht { width: 347px; }
.registration { width: 267px; }

.nav__link, .entrance { color: var(--text); transition: .2s ease-in-out; }
.nav__link:hover, .entrance:hover { color: #000; }

.check-out {
   position: relative;
   color: var(--button-color);
   font-weight: 500;
}
.check-out::before {
   content: '';
   position: absolute;
   left: -13px;
   top: 35%;
   width: 6px;
   height: 6px;
   background-color: var(--button-color);
   border-radius: 50%;
}

   /**burgrer-menu**/

.burger-menu {
   position: relative;
   display: none;
   width: 45px;
   height: 45px;
   cursor: pointer;
}

.burger-menu span::before,
.burger-menu span::after { content: ''; }

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 45px;
   height: 4px;
   margin-left: -22.5px;
   margin-top: -4px;
   background-color: #000;
   border-radius: 5px;
   transition: .3s ease-in-out;
}

.burger-menu span::before { transform: translateY(-10px); }
.burger-menu span::after { transform: translateY(13px); }



.header__bg {
   padding-top: 270px;
   position: relative;
}

.header__bg-inner {
   background-image: url(../img/bg-1.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 500px;
   position: relative;
}
.header__bg-inner::before {
   content: '';
   position: absolute;
   left: 0;
   top: -1px;
   width: 100%;
   height: 250px;
   background: linear-gradient(179.13deg, #FFFFFF 16.74%, rgba(255, 255, 255, 0.73) 55.4%, rgba(255, 255, 255, 0) 107.36%);
}

.header__bg-block {
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 930px;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   top: 25px;
   transform: translate(-50%,-50%);
}

.main-title {
   font-size: 50px;
   font-weight: 500;
   color: var(--title);
   margin-bottom: 10px;
}

.subtitle {
   font-size: 22px;
   color: var(--text);
   max-width: 730px;
   max-height: 55px;
   overflow: hidden;
   margin-bottom: 50px;
}


/** VITAMINS **/

.vitamins .title { margin-top: 80px; }


.tabs__nav {
   display: flex;
   justify-content: space-between;
   width: 665px;
   margin: 0 auto;
}
.tabs__nav-btn {
   font-size: 24px;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.28);
   position: relative;
   transition: .3s ease-in-out;
}
.tabs__nav-btn:hover { color: var(--tabs-active); }
.tabs__nav-btn.active {
   color: var(--tabs-active);
   font-weight: 500;
   transition: .3s ease-in-out;
}
.tabs__nav-btn.active::before {
   content: '';
   position: absolute;
   top: 50%;
   left: -8px;
   transform: translate(-50%,-50%);
   width: 6px;
   height: 6px;
   background-color: var(--tabs-active);
   border-radius: 50px;
   transition: .3s ease-in-out;
}

/* .tabs__content {
   display: none;
}
.tabs__content.active{
   display: block;
} */

.tabs__item {
   /* width: 33.33%;
   padding: 0 10px;
   height: 500px; */
   background-color: khaki;
   display: none;
}

.vitamins__box { margin: 200px 0; }
.vitamins__block { margin-bottom: 200px; }
.vitamins__block:last-child { margin-bottom: 0; }

.vitamins__item {
   display: flex;
   justify-content: center;
}

.vitamins__info {
   width: 480px;
   background: #FFFFFF;
   box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.09);
   border-radius: 7px;
   padding: 15px 75px 15px 50px;
   margin-top: -45px;
   margin-bottom: 55px;
   margin-right: -55px;
   z-index: 5;
}
.vitamins__block .vitamins--info {
   margin-right: 0;
   margin-left: -55px;
}

.vitamins__img, .vitamins__img img {
   width: 587px;
   height: 358px;
   border-radius: 7px;
}

.vitamins__info-block { font-family: Nunito; }

.vitamins__number {
   font-size: 72px;
   font-weight: 700;
}

.vitamins__title {
   font-size: 36px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.vitamins__text {
   line-height: 1.4;
   color: #3B372F;
}

.number__blue { color: rgba(95, 193, 236, 0.2); }
.title__blue { color: #5FC1EC; }
.number__green { color: rgba(116, 193, 40, 0.3); }
.title__green { color: #74C128; }
.number__orange { color: rgba(244, 172, 12, 0.2); }
.title__orange { color: #F4AC0C; }

/** NUTRITION **/

.nutrition__order {
   text-align: center;
   margin-bottom: 150px;
}
.nutrition__order .registration-btn { margin: 30px 0 22px; }
.nutrition__order p {
   font-size: 18px;
   color: var(--text);
}

/** FOOTER **/

.footer {
   position: relative;
   background-color: #C5E9F8;
   padding: 55px 0;
   color: var(--footer);
}
.footer::before {
   content: '';
   background-image: url(../img/footer-bg.png);
   background-size: cover;
   width: 100%;
   height: 150px;
   position: absolute;
   left: 0;
   top: -126px;
   z-index: -1;
}

.footer__block {
   display: flex;
   justify-content: space-between;
}

.footer__left {
   width: 555px;
   display: flex;
   justify-content: space-between;
}

.footer__item h3 {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 20px;
}
.footer__item li { margin-bottom: 15px; }
.footer__item li:last-child { margin-bottom: 0; }
.footer__item a { color: var(--footer); }

.footer__form{ margin: 25px 0; }
.footer__form form {
   display: flex;
   justify-content: space-between;
}

.footer__form input {
   background-color: transparent;
   border: 1px solid var(--footer);
   padding: 15px 20px;
   width: 235px;
   border-radius: 50px;
   outline: none;
   color: var(--footer);
   transition: .3s ease-in-out;
}
.footer__form input:focus { border: 1px solid #004D77; }

.footer__form .subscribe {
   font-weight: 500;
   text-transform: uppercase;
   background-color: #fff;
   padding: 15px 34px;
   border-radius: 50px;
   color: var(--footer);
   transition: .3s ease-out;
}
.footer__form .subscribe:hover {
   background-color: var(--footer);
   color: #fff;
}
@media screen and (max-width: 1024px) {
   .footer__form .subscribe:hover {
      background-color: #fff;
      color: var(--footer);
   }
}

.footer__social-network {
   display: flex;
   align-items: center;
}
.footer__social-network p { margin-right: 15px; }
.reserved { color: rgba(52, 149, 191, 0.61); }