@font-face {
   font-family: 'Montserrat';
   src: url('Montserrat-Light.woff2'),
   url('Montserrat-Light.woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: url('Montserrat-Medium.woff2'),
   url('Montserrat-Medium.woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nunito';
   src: url('Nunito-Regular.woff2'),
   url('Nunito-Regular.woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nunito';
   src: url('Nunito-Bold.woff2'),
   url('Nunito-Bold.woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}